certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
Cython==0.29.24
dbus-python==1.2.16
distro==1.4.0
fasteners==0.15
free-mujoco-py==2.1.6
glfw==1.12.0
idna==2.8
imageio==2.12.0
monotonic==1.6
numpy==1.21.4
Pillow==8.4.0
pycparser==2.21
PyGObject==3.36.0
requests==2.22.0
six==1.14.0
ssh-import-id==5.10
urllib3==1.25.8
